@page
@using TightlyCoupled.Data;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Featured Products</h2>

<div>
    @{
        var products = (IEnumerable<Product>)ViewData["Products"];
        foreach(var product in products)
        {
            <div>@product.Name (@product.UnitPrice.ToString("C"))</div>
        }
    }
</div>